@using MyBlog.Core
@model dynamic

@{
    ViewBag.Title = Messages.Home_About_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>About</h1>
</div>
<div class="row">
    <div class="span8">
        My name is Gleb Chermennov, and I'm a programmer currently living in Moscow, Russia.
        My primary interests are programming (duh!) and economics, stock market in particular.
        I'm mostly .NET programmer, so I write C# for work. Occasionally I do some JS as I'm a web developer.
        I like open-source software in a way that I not only use it, but trying to create something useful as well
        - namely, I contribute to Fluent NHibernate and StructureMap projects.
        You can find me at <a href="http://www.stackoverflow.com/users/28298/chester89">StackOverflow</a>, on <a href="http://github.com/chester89">Github</a>, Twitter and GMail.
    </div>
    <div class="span4">
        I'm Gleb :)
    </div>
</div>

